body{
    background-image: url(../img/backready.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .details{
    width: 0;
    height: 0;
  }
  .container .barchart {
    
    width: 700px;
    padding: 10px 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  .chart-container .heading{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /*margin-left: 170px;*/
  }
  .chart-container h2.chart-heading {
    display: flex;
    justify-content: center;
    background-color: #b2d797;
    border: 5px solid #83a56e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    width: 300px;
    font-size: 25px;
    border-radius: 0px 20px ;
    padding: 10px;
  }
  
  .barchart:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }
  .leg{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
  }
  .container .legend {
    display: flex;
    flex-direction: column; 
    margin: 0;
    padding: 0;
  }
  
  .container .legend li {
    display: flex;
    margin-bottom: 20px;
    align-items: center; 
  }
  
  .container .legend li div {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }
  
  .container .legend li p {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
  }
  
  .legend-line-through {
    text-decoration: line-through;
  }
  footer{
    display: flex;
    padding: 10px;
    background-color: #202027;
    justify-content: center;
    margin-top: 5%;
    padding-left: 50px;
    padding-right: 50px;
}
footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}
footer a{
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
footer a:hover{
  text-decoration: underline;
}
footer nav .social{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
}
footer nav .social .about-us {
  margin-right: 50px;
}
footer nav .media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer nav .media .telegram {
  margin-right: 50px;
}